{{ "hero.css" | asset_url | stylesheet_tag }}
{{ "custom-style.css" | asset_url | stylesheet_tag }}


<section class="hero">
  <div class="main-carousel" data-speed=".35">
    {% for item in section.blocks %}
      <div class="carousel-cell" >
        
        {% if item.settings.banner_img %}
          {% render 'image', imageSrc: item.settings.banner_img, classes: 'banner-img' %}
        {% else %}
          {{ 'lifestyle-1' | placeholder_svg_tag: 'banner-img' }}
        {% endif %}
           <div class="hero-content" data-depth="10">
              <div class="hero-title">
                <h1>{{ item.settings.hero_title }}</h1>
              </div>

               <div class="hero-sub" >
                <p>{{ item.settings.hero_subtitle }}</p>
              </div>
          </div>
           <div class="hero-btn">
              <div class="shine"> 
                  <a class="hero-btn1 btn-transparent btn-property" href=" {{ item.settings.id_btn1_url }} "> {{ item.settings.btn1_text }}
                  </a>
              </div>
                
              <div> 
                <a class="hero-btn2 btn-fill btn-property btn-shine1 " href=" {{ item.settings.id_btn2_url }}">
                  {{ item.settings.btn2_text }}
                </a>
              </div>
            </div> 
      </div>
    {% endfor %}
  </div>
</section>

<script src="{{ 'gsap.min.js' | asset_url }}" defer="defer" ></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.11.2/gsap.min.js" defer></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.11.2/ScrollTrigger.min.js" defer></script>



<script src="{{ 'gsap.js' | asset_url }}" defer="defer" ></script>


{% schema %}
  {
    "name": "Hero",
    "blocks": [
    {
            "type": "hero_images",
            "name": "Slider Item",
             "settings": [
    
                {
                    "type": "image_picker",
                    "id": "banner_img",
                    "label": "Choose Banner Image"
                },

                {
                    "type": "text",
                    "id": "hero_title",
                    "label": "Hero Title",
                    "default": "Summer Vibes."
                },

                {
                    "type": "text",
                    "id": "hero_subtitle",
                    "label": "Hero Subtitle",
                    "default": "Decorate your house"
                },

                {
                    "type": "text",
                    "id": "btn1_text",
                    "label": "Button 1 Text",
                    "default": "Contact Us"
                },

               {
                "type": "url",
                "id": "id_btn1_url",
                "label": "Button 1 URL",
                "default": "/"
               },

                {
                    "type": "text",
                    "id": "btn2_text",
                    "label": "Button 2 text",
                    "default": "Shop Now!"
                },

               {
                "type": "url",
                "id": "id_btn2_url",
                "label": "Button 2 URL",
                "default": "/"
               }
        ]
    }
  ],

  "presets": [
    {
        "name":"Hero"
    }
  ]
  }
{% endschema %}
